<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.uniovi.eii.contacttracker">

    <!-- PERMISOS -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/contact_tracker_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/contact_tracker_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContactTracker"
        android:usesCleartextTraffic="true">

        <!-- Metadatos -->
        <!-- Clave de la API de Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />

        <!-- Activities -->
        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Services -->
        <service
            android:name=".location.services.LocationForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            android:label="LocationForegroundService" />
        <service
            android:name=".location.listeners.intents.LocationReceivedIntentService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".riskcontact.service.RiskContactForegroundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".notifications.FirebaseMessagingServiceImpl"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Broadcast Receivers -->
        <receiver android:name=".location.receivers.LocationAlarmCommandBroadcastReceiver" />
        <receiver android:name=".riskcontact.alarms.StartRiskContactCheckReceiver" />

        <!-- Icono por defecto de de las notificaciones FCM -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/contact_tracker_logo_foreground" />

        <!-- Color por defecto de las notificaciones FCM -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/design_default_color_background" />

        <!-- Canal por defecto para las notificaciones de FCM -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/fcm_channel_id"/>
    </application>
</manifest>